body {
    margin: 0px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

#cabecalho h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#cabecalho p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline overline;
    cursor: pointer;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input {
    height: 100%;
    width: 500px;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.card-grupo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px grey;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 20px;
    padding-top: 300px;
}

.grupo-membros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 442px;
    width: 100%;
    background-color: #000000;
}

.card-membros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 85px;
}


.card-esquerdo {
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #000000;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: #FFFFFF;
}

.card-direito {
    height: 269px;
    width: 400px;
    background-image: url('./imagens/gato_laranja.jpg');
    background-size: cover;
    border-radius: 50px;
}

.grupo-dicas{
    display: flex;
    justify-content: center;
    margin-top: 148px;
}

.dicas-esquerdo{
    width: 50%;
}

.dicas-direioto{
    width: 50%;
}

.dicas-direito img{
    height: 614px;
    width: 536px;
}