body {
    margin: 0px;
}

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    background-color: #000000;
    color: #FFFFFF;
    height: 100px;
    padding: 10px 50px 10px 50px;
}

#cabecalho img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
}

#cabecalho h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

#logo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline overline;
    cursor: pointer;
    color: white;
}

.pesquisa {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    padding: 10px;
    margin: 50px 0px 50px 0px;
}

.pesquisa input {
    height: 100%;
    width: 500px;
    border-radius: 50px;
    padding-left: 50px;
    font-size: 30px;
}

.card-grupo {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
}

.card-pet {
    width: 300px;
    height: 420px;
    border-radius: 34px;
    background-size: cover;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet:hover {
    box-shadow: 17px 11px 45px -2px grey;
    transition-duration: 0.1s;
    transition-delay: 0.1s;
}

.card-pet p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    color: #FFFFFF;
    margin-left: 20px;
    padding-top: 300px;
}

.grupo-membros {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 442px;
    width: 100%;
    background-color: #000000;
}

.card-membros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 85px;
}


.card-esquerdo {
    font-size: 34px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.botao-card{
    display: flex;
    align-items: center ;
    justify-content: center;
    background-color: #000000;
    height: 77px;
    width: 100%;
    border-radius: 70px;
    color: #FFFFFF;
}

.card-direito {
    height: 269px;
    width: 400px;
    background-image: url('./imagens/gato_laranja.jpg');
    background-size: cover;
    border-radius: 50px;
}

.grupo-dicas{
    display: flex;
    justify-content: center;
    margin: 148px 260px 40px 260px;
}

.dicas-esquerdo{
    width: 50%;
}

.dicas-esquerdo h1{
    font-size: 31px;
    font-weight: bold;
    margin-block-start: 0px;
}

.dicas-esquerdo h2,
.dicas-esquerdo{
font-size: 21px;
color: #5c5c5c;
}

.dicas-direito{
    width: 50%;
    text-align: center;
}

.dicas-direito img{
    height: 614px;
    width: 536px;
    border-radius: 25px;
}

.rodape{
    background-color: #000000;
}

.rodape-titulo{
   text-align: center;
    margin: 50px 0px 50px 0px;
}

.rodape-titulo h1{
padding: 50px 0px 50px 0px;
color: #FFFFFF;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.rodape-pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rodape-pesquisa input{
width: 384px;
height: 58px;
background-color: black;
border: 1px solid white;
outline: none;
border-radius: 10px;
color: #c4c4c4;
font-size: 24px;
padding-left: 20px;
}

.botao-assinar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 58px;
    background-color: #ebc154;
    border-radius: 10px;
    margin-left: 15px;
    cursor: pointer;
}

.botao-assinar p{
font-size: 24px;
color: white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bold;
text-transform: uppercase;
}

.rodape-grupo{
    margin-top: 50px;
}

.rodape-grupo-menu{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grupo-itens ul{
    display: flex;
    margin-bottom: 0px;
}

.grupo-itens li{
    margin: 46px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style: none;
    cursor: pointer;
}

.rodape-linha{
    margin-top: 0px;
    height: 25px;
    background-color: crimson;
    width: 100%;
}